/* Desktop Screen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-section {
  width: auto;
  align-items: center;
  font-family: "Avenir", sans-serif;
}

.logo {
  margin-top: 50px;
  height: 30.59px;
  width: 32.29px;
}
.logo1 {
  margin-left: 10px;
  margin-top: 60px;
}
.logo-text h3 {
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 10px;
  font-style: normal;
}
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h1 {
  font-family: "Jost*", sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background: linear-gradient(
    90.08deg,
    #e54130 4.18%,
    rgba(117, 58, 223, 0.9) 99.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.paragraph-text p {
  width: 1000px;
  padding-left: 8em;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 33px;
  align-content: center;
  color: #b1b7e9;
  opacity: 0.5;
}
.tmail {
  padding-left: 12em;
}
input[type="email"] {
  width: 600px;
  height: 72px;
  left: 650px;
  top: 400px;
  border: 1px solid #b1b7e9;
  border-radius: 16px;
  background-color: transparent;
  padding: 24px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  font-family: "Avenir", sans-serif;
}
input[type="submit"] {
  width: 140px;
  height: 72px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 16px;
  margin-top: 100px;
  margin-left: 16px;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  cursor: pointer;
  padding: 16px;
}
.flex-container {
  display: flex;
  border: 1px solid rgba(255, 0, 0, 0.1);
  height: 72px;
  justify-content: space-between;
  justify-content: center;
  color: white;
  border-radius: 5px;
  width: 770px;
  height: 72px;
  align-items: center;
  margin-top: 120px;
  border-radius: 16px;
  margin-left: 210px;
}
.icons {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  padding: 5px;
}

.text {
  width: 438px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #b1b7e9;
  margin-left: 10px;
}

.icons .Microsoft {
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 10px;
  width: 40px;
  padding: 10px;
  align-content: center;
  margin-left: 10px;
}

.icons .Apple {
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 10px;
  width: 40px;
  padding: 10px;
  margin-left: 10px;
}

.icons .linux {
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 10px;
  width: 40px;
  padding: 5px;
  margin-left: 10px;
}

.main-section .Image {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}
.screenshot {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10em;
}
.sandbox {
  padding-top: 3em;
}

.containTwitter {
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 50%;
  padding: 5px;
}

/* Mobile screen */
  @media only screen and (max-width: 768px) {
  .heading h1 {
    margin-left: 4em;
    text-align: center;
    font-size: 40px;
    display: block;
  }
   .paragraph-text p{
    font-size: 24px;
    width:700px;
    margin-left:0em;
    padding-top:2em;
  }
  input[type="email"] {
  width: 343px;
  font-size: 20px; 
  margin-left: 3em;
  display: block;
  margin-top: 5em;
  }
   input[type="submit"] {
    margin-top: 2em;
    margin-left: 10em;
    font-weight: 500;
}
.flex-container{
  height: 200px;
  display: block;
  width: 500px;
  margin-left: 14em;
  padding-top: 2em;
  border-radius: 16px;
}
.sch{
  display:none;
}
.twitter{
  display:none;
}
.sandbox{
  margin-left: 20em;
  margin-top: 2px;
}
  }